@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Open+Sans:wght@400;700&family=Orbitron:wght@400;700&family=Roboto+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Russo+One&family=Share+Tech+Mono&display=swap');


/* 
Fundo: Preto (#000000)
Títulos Principais: Amarelo Neon (#FFFF00)
Destaques Secundários: Ciano Neon (#00FFFF), Magenta Neon (#FF00FF)
Texto Principal: Branco (#FFFFFF)
Texto Secundário: Cinza Claro (#D3D3D3)
Botões e Links: Azul Elétrico (#7DF9FF), Verde Neon (#39FF14)
Bordas e Detalhes: Prata (#C0C0C0), Azul Royal (#4169E1)
    */




body {
    height: 100%;
    font-family: 'Orbitron', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #0D0D0D;
    color: #FFFF00;
    overflow-x: hidden;
}



img {
    max-width: 100%;
    height: auto;
}

header {
    background-color: transparent;
    color: #FFFF00;
    position: relative;
    width: 100%;
    top: 0;
    z-index: 1000;
    /* Mantém o cabeçalho acima de outros elementos */
}

header .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .profile img {
    border-radius: 50%;
    max-width: 150px;
    max-height: 150px;
    object-fit: cover;
    margin-bottom: 1rem;
}

header .profile h1 {
    margin: 0;
    font-size: 3rem;
}

header .profile p {
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

nav {
    margin-top: 1rem;
}


nav .menu-item a:hover,
nav .menu-item a:focus {
    font-size: 2rem;
    color: #00ff44;
    /* Cor do texto */
    text-decoration: none;
    transition: font-size 0.3s ease-in-out;

}



nav .menu {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

nav .menu-item {
    margin: 0 1rem;
    transition: transform 0.3s ease-in-out;
}

nav .menu-item a {

    font-family: "Russo One", sans-serif;
    color: #00ff44;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
}

nav .menu-item:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease-in-out;
}

main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow: auto;
    padding: 1rem 0;
    position: center;
    background: transparent;
}

main .menuanimation {
    position: relative;
    left: 50%;
    transform: translateX(-50%) scale(0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -5cap;
    margin-bottom: 0cap;
}

section {
    display: none;
    /* Hide all sections by default */
    margin: 2rem 0;
    padding: 2rem;
    background-color: transparent;
    border-radius: 8px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  Adiciona sombra ao elemento */
}

section.active {
    display: block;
    /* Show the active section */
}

section h2 {
    font-family: 'Audiowide', cursive;
    margin-top: 0;
    color: #ffee00;
    font-size: 1.8rem;
    text-align: center;

}

section ul {
    list-style: none;
    padding: 0;
}

section ul li {
    padding: 0.5rem 0;
    font-size: 1.1rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    width: 100%;
    text-align: left;
    margin-top: 1rem;
}

form input,
form textarea {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    padding: 0.7rem 1.5rem;
    margin-top: 1rem;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}

footer {
    background-color: transparent;
    color: white;
    text-align: center;
    height: 50px;
    width: 100%;
}

#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1000;
    /* Garante que a animação fique atrás de tudo */
}

#pheader-menu {
    color: white;
    font-family: "Share Tech Mono", monospace;
    font-size: 1.8rem;
}

#footer {

    bottom: 0;
    width: 100%;
    height: 2.5rem;
    /* Footer height */
}



.href-link {
    color: #00FFFF;
    /* Cor do texto */
    text-decoration: none;
    /* Remove o sublinhado do link */
    font-size: 1.5rem;
    /* Tamanho da fonte */
    display: inline-flex;
    /* Permite alinhar o ícone com o texto */
    align-items: center;
    /* Centraliza o ícone com o texto verticalmente */
}

.href-link:hover {
    color: #0366d6;
    /* Cor do texto ao passar o mouse */
    text-decoration: underline;
    /* Adiciona sublinhado ao passar o mouse */
}

.href-link i {
    margin-right: 8px;
    /* Espaço entre o ícone e o texto */
    font-size: 24px;
    /* Tamanho do ícone */
}

.container {
    background: transparent;
    padding: 20px;
    text-align: center;

}

.container h2 {
    background: transparent;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;

}

.textosmenu {
    font-family: "Lato", sans-serif;
    font-size: 1.2rem;
    max-width: 60ch;
    margin: 0 auto;
    padding: 50px;
    text-align: justify;
    line-height: 1.5;
    color: #D3D3D3;
}

.textosmenucenter {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    max-width: 60ch;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    line-height: 1.6;
    color: #D3D3D3;
}

/* Floating Elements */
.floating-elements {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
    z-index: 0;
}

.floating-element {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    animation: float 10s infinite ease-in-out;
}

.btn-github {
    font-family: "Share Tech Mono", monospace;
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #00ff44;
    font-size: 1.2rem;
    text-decoration: none;
    background-color: #000;
    border-radius: 50px;
    overflow: hidden;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-github::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background: rgba(255, 255, 255, 0.15);
    transition: width 0.4s, height 0.4s, top 0.4s, left 0.4s;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.btn-github:hover::before {
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
}

.btn-github:hover {
    background-color: #333;
    transform: scale(1.05);
}

.btn-github:active {
    transform: scale(0.95);
}

.btn-github:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}




@keyframes float {
    0% {
        transform: translateY(0) translateX(0);
    }

    50% {
        transform: translateY(-20px) translateX(20px);
    }

    100% {
        transform: translateY(0) translateX(0);
    }
}